{% if     entry.type | lower == 'poster'  %}{% set class, type = 'warning', 'Poster'         %}
{% elseif entry.type | lower == 'journal' %}{% set class, type = 'success', 'Journal paper'  %}
{% elseif entry.type | lower == 'code'    %}{% set class, type = 'default', 'Code'           %}
{% elseif entry.type | lower == 'report'  %}{% set class, type = 'default', 'Report'         %}
{% elseif entry.type | lower == 'slides'  %}{% set class, type = 'default', 'Slides'         %}
{% endif %}

<div class="publication panel row">
	<div class="col-md-2 col-xs-12 publication-label">
		<span class="btn btn-{{ class }} btn-raised btn-sm vcenter">{{ type }}</span>
	</div>
	<div class="col-md-7 col-xs-12">
		<h6 class="publication-title-short">{{ entry.title }}</h6>
		{% if entry.details %}
			<span class="publication-details hidden">
				<h6 class="publication-title">{{ entry.title }}</h6>
				<p>
					<span class="publication-authors"       >{{ entry.details.author  }}</span>
					<span class="publication-ref text-muted">{{ entry.details.journal }}</span>
				</p>
				{% if entry.details.abstract %}<p class='justify'>{{ entry.details.abstract }}</p>  {% endif %}
				{% if entry.details.bibtex   %}<pre              >{{ entry.details.bibtex   }}</pre>{% endif %}
			</span>
		{% endif %}
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="btn-group btn-group-justified vcenter">
			{% if entry.details %}
				<a class="btn btn-default btn-raised btn-xs" data-toggle="modal" data-target="#details-modal" onclick="modal_details(this)">Details</a>
			{% endif %}
			{% if entry.link %}
				<a class="btn btn-default btn-raised btn-xs" href="{{ entry.link.url }}" target="_blank">{{ entry.link.title }}</a>
			{% endif %}
		</div>
	</div>
</div>
